---
import Layout from '@layouts/Layout.astro';
const title = 'Forgot Password';
---

<Layout 
	title={title} 
	description="Reset your Evolution YGO account password."
	noindex={true}
	nofollow={true}
>
	<h1 class='text-gradient text-center'>{title}</h1>
</Layout>
<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
<script>
	import { getSession } from '@stores/sessionStore';
	if (getSession().isLoggedIn) {
		window.location.href = '/';
	} else {
		const signinButton = document.getElementById('button-modal-signin');
		signinButton?.click();
		setTimeout(() => {
			const forgotPasswordLink = document.getElementById('forgot-password-link');
			forgotPasswordLink?.click();
		}, 100);
	}
</script>
