---
import Layout from '@layouts/Layout.astro';
import News from '@sections/News';
import Live from '@sections/Live.svelte';
import Ranking from '@sections/Ranking';
import Features from '@sections/Features.astro';
import Download from '@sections/Download.astro';
import Faqs from '@sections/Faqs.astro';
import Crew from '@sections/Crew.astro';
// import AnimationFrameSnow from '@components/Random/AnimationFrameSnow.svelte';
const title = 'Evolution YGO Season 4';
---

<Layout title={title}>
	<main class='w-full text-[white] text-xl leading-[1.6] mx-auto'>
		<h1 class="text-4xl sm:text-5xl font-bold leading-none text-center mb-[1em] max-w-sm md:max-w-full pt-4 "><span class='text-gradient'>{title}</span></h1>
		<News client:load/>
		<Live client:load/>
		<Ranking client:load/>
		<Features/>
		<Download/>
		<Faqs/>
		<Crew/>
	</main>
	<!-- <AnimationFrameSnow client:load/> -->
</Layout>