---
import Layout from '../layouts/Layout.astro';
import Swiper from '../components/Swiper';
import Ranking from '../sections/Ranking.astro';
import Download from '../sections/Download.astro';
import Features from '../sections/Features.astro';
import Faqs from '../sections/Faqs.astro';
import Crew from '../sections/Crew.astro';
const title = 'Evolution YGO Season 4';
---

<Layout title='Evolution YGO Ranking'>
	<main class='w-full max-w-[calc(100%_-_2rem)] text-[white] text-xl leading-[1.6] mx-auto my-4 lg:mb-0'>
		<h1 class="text-4xl sm:text-5xl font-bold leading-none text-center mb-[1em]"><span class='text-gradient'>{title}</span></h1>
		<Swiper client:load/>
		<Ranking/>
		<Features/>
		<Download/>
		<Faqs/>
		<Crew/>
	</main>
</Layout>
