---
import Layout from '@layouts/Layout.astro';
import PasswordIcon from '/public/icons/password.svg';
let isCodeValid = false;
const email = Astro.url.searchParams.get('email') || undefined;
const code = Astro.url.searchParams.get('code') || undefined;
const checkCode = async () => {
	const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/users/check-code?email=${email}&code=${code}`);
	const data = await response.json();
	return true; // TODO: Remove this when the API is ready
	return data.valid;
}

if(code && email && await checkCode()) {
	isCodeValid = true;
}
---

<Layout title='Password Reset'>
	{isCodeValid ? (
		<div class='my-12 max-w-md mx-auto'>
			<div class='divider'> Password Reset</div>
			<form class='space-y-4 my-8'>
				<label class='input input-bordered flex items-center gap-2 w-full'>
				<PasswordIcon class='w-4 h-4 opacity-70' />
				<input type='password' class='grow' placeholder='New password' maxlength={4} required />
			</label>
			<label class='input input-bordered flex items-center gap-2 w-full'>
				<PasswordIcon class='w-4 h-4 opacity-70' />
				<input type='password' class='grow' placeholder='Repeat new password' maxlength={4} required />
			</label>
			<button class='btn btn-primary btn-sm w-full' type='submit'> Change Password </button>
			</form>
		</div>
	) : (
		<div class='my-12 max-w-md mx-auto'>
			<div class='divider'>Invalid Code</div>
			<p class='text-center text-error'>The code you entered is invalid. Please try again.</p>
		</div>
	)}
</Layout>
