---
import Layout from '@layouts/Layout.astro';
import { ResetPasswordForm } from '@components/Auth';
let isTokenValid = false;
const token = Astro.url.searchParams.get('token') || undefined;
let errorMessage = '';
const checkCode = async () => {
	try {
		const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/users/validate-token?token=${token}`);
		const data = await response.json();
		if(response.ok) {
			return data.valid;
		} else {
			errorMessage = data.message;
		}
	} catch (error) {
		errorMessage = 'No connection to server';
	}
}


if(token && await checkCode()) {
	isTokenValid = true;
}
---

<Layout title='Password Reset'>
	{isTokenValid ? (
		<ResetPasswordForm client:only="react" token={token || ''} />
	) : (
		<div class='my-12 max-w-md mx-auto'>
			<div class='divider'>Invalid Token</div>
			<p class='text-center text-error'>{errorMessage}. Please try again.</p>
		</div>
	)}
</Layout>
