---
interface Props {
	size: number;
	color: string;
}

const { size, color } = Astro.props;
---

<div class="avatar">
  <div class={`ring-${color} ring-offset-base-100 w-${size} rounded-full ring ring-offset-2`}>
    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
  </div>
</div>