---
import Avatar from './Avatar.astro';

interface Props {
	size: number;
	avatars: number[];
	maxShow: number;
}

let { size, avatars, maxShow} = Astro.props;
const quantity = avatars.length - maxShow;
avatars = avatars.slice(0, maxShow);
---

<div class="avatar-group -space-x-6 rtl:space-x-reverse">
  {avatars.map((item) => (
    <Avatar size={size} />
  ))}
	{quantity > 0 && (
		<div class="avatar placeholder">
			<div class={`bg-neutral text-neutral-content w-${size}`}>
				<span>+{quantity}</span>
			</div>
		</div>
	)}
</div>
