---
import { Icon } from "astro-icon/components";
const webRepo = 'https://github.com/Evolution-YGO/evolution-web';
const serverRepo = 'https://github.com/Evolution-YGO/evolution-server';
---

<footer class="footer bg-base-200 text-base-content p-10">
  <nav>
    <h6 class="footer-title">Staff</h6>
    <p>Shura D.</p>
    <p>Uchiha_1420</p>
  </nav>
  <nav>
    <h6 class="footer-title">Special Thanks To</h6>
    <a class="link link-hover" href="https://github.com/DyXel" target="_blank">DyXel</a>
    <a class="link link-hover" href="https://github.com/edo9300" target="_blank">edo9300</a>
    <a class="link link-hover" href="https://github.com/ProjectIgnis" target="_blank">ProjectIgnis</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <p>Terms of use</p>
    <p>Privacy policy</p>
    <p>Cookie policy</p>
  </nav>
</footer>
<footer class="footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4 flex justify-between">
  <aside class="grid-flow-col items-center">
    <img src="/logo.svg" alt="Evolution YGO" class="w-auto h-10" />
    <p>
      Evolution
      <br />
      a YGOPro Server since 2023
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a href="https://www.youtube.com/watch?v=p75116MjEoY" target="_blank">
				<Icon name="mdi:youtube" class="fill-current text-3xl"/>
      </a>
    </div>
  </nav>
</footer>