---
import { Icon } from "astro-icon/components";

const githubUrl = 'https://github.com/evolutionygo';

const links = [
	{
		icon: 'mdi:discord',
		url: 'https://discord.gg/bgjddgWkWk',
	},
	{
		icon: 'mdi:youtube',
		url: 'https://www.youtube.com/watch?v=p75116MjEoY',
	},
	{
		icon: 'mdi:github',
		url: githubUrl,
	},
];
---

<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <nav>
    <h6 class="footer-title">Staff</h6>
    <p>Shura D.</p>
    <p>Uchiha_1420</p>
  </nav>
  <nav>
    <h6 class="footer-title">Special Thanks To</h6>
    <a class="link link-hover" href="https://github.com/DyXel" target="_blank">DyXel</a>
    <a class="link link-hover" href="https://github.com/edo9300" target="_blank">edo9300</a>
    <a class="link link-hover" href="https://github.com/ProjectIgnis" target="_blank">ProjectIgnis</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <p>Terms of use</p>
    <p>Privacy policy</p>
    <p>Cookie policy</p>
  </nav>
</footer>
<footer class="footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4 flex justify-between">
  <aside class="grid-flow-col items-center">
    <!-- <img src="/logo.svg" alt="Evolution YGO" class="w-auto h-10" /> -->
    <p>
      Evolution a YGOPro Server since 2023, We Love Open Source ❤️. You can find the code for the Server and the Web in <a href={githubUrl} target="_blank" class="text-primary font-bold hover:underline">Github</a>.
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
			{links.map((link) => (
				<a href={link.url} target="_blank">
					<Icon name={link.icon} class="fill-current text-3xl hover:text-secondary"/>
				</a>
			))}
    </div>
  </nav>
</footer>