---
import FeatureCard from '@components/Cards/FeatureCard.astro';
import type { Feature } from '@types';

const title = 'features';
const description = 'The most featured YGOPro Server';
const info = 'Evolution is built on top of the EDOPro and Mercury (Koishi) Servers, fully compatible with their clients and offering additional features such as duel reconnection and automatic ranking.';

const features: Feature[] = [
	{
		title: 'Duel Reconnection',
		description: 'Automatically reconnect to the duel after a disconnection.',
		icon: 'mdi:wifi-refresh',
	},
	{
		title: 'Automatic Ranking',
		description: 'Automatically update your ranking after a duel.',
		icon: 'mdi:trophy',
	},
	{
		title: 'Free to Use',
		description: 'No need to pay for anything, just enjoy the server.',
		icon: 'mdi:cash-usd',
	},
];
---

<div class='hero bg-base-100 md:py-24 my-8' id='section-features'>
	<div class='hero-content flex-col lg:flex-row justify-between max-w-full py-0 lg:px-20'>
			<div class="w-full lg:w-1/3 text-center lg:text-left leading-3">
					<h2 class='text-xl font-bold bg-gradient-to-r from-purple-500 via-blue-500 to-white-500 bg-clip-text text-transparent uppercase'>{title}</h2>
					<p class='text-3xl md:text-5xl md:leading-[3.5rem] font-bold pt-6'>{description}</p>
					<p class='py-6 text-lg text-gray-400 leading-8'>
							{info}
					</p>
			</div>
			<div class="w-full lg:w-2/3 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				{
					features.map((feature) => <FeatureCard {...feature} />)
				}
			</div>
	</div>
</div>


