---
interface Props {
	size: number;
}

const { size } = Astro.props;
---

<div class="avatar">
  <div class={`w-${size}`}>
    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
  </div>
</div>