---
interface Props {
	size: number;
	online: boolean;
}

const { size, online } = Astro.props;
---

<div class={`avatar ${online ? 'online' : 'offline'}`}>
  <div class={`w-${size} rounded-full`}>
    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
  </div>
</div>