---
import SettingsForm from "@components/Settings/SettingsForm";
---

<dialog id='dialog-settings' class='modal'>
	<div class='modal-box'>
		<form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
		<img src='/logo.svg' alt='logo' class='h-16 w-auto mx-auto' />
		<h3 class='text-2xl text-center mt-4'>Settings</h3>
		<div class='modal-action'>
			<div class='w-full'>
				<SettingsForm dialog="dialog-settings" client:load/>
			</div>
		</div>
	</div>
	<form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
